/* common styles used by many widgets */

body { margin: 0; font-size: 14px; font-family: Arial; }

table { border-spacing: 0; }

input, textarea { border: 1px solid #ccc; }

button, input[type=button], input[type=submit], .button {
    outline: 0px;
    padding: 2px 12px; font-size: 1em; text-shadow: 0 1px #FFF; text-decoration: none; color: #333; cursor: pointer;
    border: 1px solid #CCC; border-radius: 3px 3px; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5; /* Old browsers */
}

button:active, input[type=button]:active, input[type=submit]:active, .button:active {
    box-shadow: 0 1px #D5D5D5 inset, 0 1px #FFF;
}

input[type=text], input[type=button], select, textarea {
    border: 1px solid #ccc;
    margin: 0; 
    padding: 1px;
    box-shadow:inset 0 2px 6px #eee;     
    border-radius: 3px;
}

input[type=text], input[type=number] {
    padding: 2px 1px;
}

.positive { color: #0A0; }
.negative { color: #F00; }
